.PageBody {
    width: 100vW;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.PageLogo {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PageLogo img {
    max-height: 100px;
}

.PageForm {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PageForm form {
    height: 400px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #022649;
    font-size: 0.8em;
}

.PageForm form i {
    font-size: 1.4em;
}

.PageForm form a {
    color: #022649;
}

.PageForm input[type='password'] {
    border: 1px solid #022649;
    font-family: 'Fjalla One', sans-serif;
    margin: 5px;
    padding: 10px;
}

.PageForm input[type='submit'] {
    background: #022649;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.PageForm input[type='submit']:hover {
    cursor: pointer;
    background: #034d7f;
    color: white;
}

.PageFooter {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Fjalla One', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color: #022649;
}

.PageFooter p  {
    margin-right: 20px;
}

@media screen and (min-width: 1023px) {
    .PageLogo img {
        max-height: 180px;
    }

    .PageLogo {
        height: 30%;
    }

    .PageForm {
        height: 40%;
    }

    .PageForm {
        height: 60%;
    }

    .PageForm form {
        height: 100%;
        width: 300px;
    }

}