.ForgotPasswordBody {
    width: 100vW;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ForgotPasswordLogo {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ForgotPasswordLogo img {
    max-height: 100px;
}

.ForgotPasswordForm {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ForgotPasswordForm form {
    height: 400px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #022649;
    font-size: 0.8em;
}

.ForgotPasswordForm form a {
    color: #06c;
    letter-spacing: inherit;
    padding: 3px;
    margin-top: 10px;
}

.ForgotPasswordForm input[type='email'],
.ForgotPasswordForm input[type='text'] {
    border: 1px solid #022649;
    font-family: 'Fjalla One', sans-serif;
    margin: 5px;
    padding: 10px;
}

.ForgotPasswordForm input[type='submit'] {
    background: #022649;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.ForgotPasswordForm input[type='submit']:hover {
    cursor: pointer;
    background: #034d7f;
    color: white;
}

.ForgotPasswordFooter {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Fjalla One', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color: #022649;
}

.ForgotPasswordFooter p  {
    margin-right: 20px;
}

@media screen and (min-width: 1023px) {
    .ForgotPasswordLogo img {
        max-height: 180px;
    }

    .ForgotPasswordLogo {
        height: 30%;
    }

    .ForgotPasswordForm {
        height: 40%;
    }

    .ForgotPasswordForm {
        height: 60%;
    }

    .ForgotPasswordForm form {
        height: 100%;
        width: 300px;
    }

}