.LoginPageBody {
    width: 100vW;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LoginPageLogo {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginPageLogo img {
    max-height: 100px;
}

.LoginPageForm {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginPageForm form {
    height: 400px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #022649;
    font-size: 0.8em;
}

.LoginPageForm form i {
    font-size: 1.4em;
}

.LoginPageForm form a {
    color: #022649;
}

.LoginPageForm input[type='email'],
.LoginPageForm input[type='password'] {
    border: 1px solid #022649;
    font-family: 'Fjalla One', sans-serif;
    margin: 5px;
    padding: 10px;
}

.LoginPageForm input[type='submit'] {
    background: #022649;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.LoginPageForm input[type='submit']:hover {
    cursor: pointer;
    background: #034d7f;
    color: white;
}

.LoginPageFooter {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Fjalla One', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color: #022649;
}

.LoginPageFooter p  {
    margin-right: 20px;
}

@media screen and (min-width: 1023px) {
    .LoginPageLogo img {
        max-height: 180px;
    }

    .LoginPageLogo {
        height: 30%;
    }

    .LoginPageForm {
        height: 40%;
    }

    .LoginPageForm {
        height: 60%;
    }

    .LoginPageForm form {
        height: 100%;
        width: 300px;
    }

}