.RegisterPageBody {
    width: 100vW;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.RegisterPageLogo {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterPageLogo img {
    max-height: 100px;
}

.RegisterPageForm {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RegisterPageForm form {
    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
    color: #022649;
    font-size: 0.8em;
}

.RegisterPageForm form i {
    font-size: 1.4em;
}

.RegisterPageForm form a {
    color: #022649;
}

.RegisterPageForm input[type='email'],
.RegisterPageForm input[type='password'],
.RegisterPageForm input[type='text'] {
    border: 1px solid #022649;
    font-family: 'Fjalla One', sans-serif;
    margin: 5px;
    padding: 10px;
}

.RegisterPageForm input[type='submit'] {
    background: #022649;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.RegisterPageForm input[type='submit']:hover {
    cursor: pointer;
    color: white;
    background: #022649;
}

.RegisterPageFooter {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Fjalla One', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color: #022649;
}

.RegisterPageFooter p  {
    margin-right: 20px;
}

@media screen and (min-width: 1023px) {
    .RegisterPageLogo img {
        max-height: 180px;
    }

    .RegisterPageLogo {
        height: 30%;
    }

    .RegisterPageForm {
        height: 50%;
    }

    .RegisterPageForm form {
        height: 100%;
        width: 300px;
    }

}